# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# Firebase
firebase-credentials.json

# Media files
media/
